<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <title>Login APP - Registrado com Sucesso</title>
    <link rel="icon" type="image/x-icon" href="../imgs/login-icon.svg">
</head>
<body>
    <header>
        <img id="login-icon" src="../imgs/login-icon.svg" alt="login-icon">
        <a href="../../index.html" id="page-title">LOGIN APP</a>
        <h2 class="header-pages">Home</h2>
        <h2 class="header-pages">Conta</h2>
    </header>
    <main>
        <div id="welcome-div">
            <h2>CADASTRO CONCLUIDO COM SUCESSO</h2>
            <h1>ACESSE AGORA MESMO</h1>
            <div id="sign-in">
                <h3>Acesse nossa página de Login</h3><a href="login.html">Aqui</a>
            </div>
    </main>
</body>
</html>