<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/styles/main.css">
    <title>LOGIN APP - Página não encontrada</title>
    <link rel="icon" type="image/x-icon" href="src/imgs/login-icon.svg">
</head>
<body>
    <header>
        <img id="login-icon" src="./src/imgs/login-icon.svg" alt="login-icon">
        <a href="#" id="page-title">LOGIN APP</a>
        <h2 class="header-pages">Home</h2>
        <h2 class="header-pages">Conta</h2>
    </header>
    <main>
        <h1>Página Não encontrada</h1>
    </main>
</body>
</html>